<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>APA Web Portal</title>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="../../assets/vendor/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../../assets/vendor/font-awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../../assets/vendor/linearicons/style.css"/>
	<link rel="stylesheet" href="../../assets/vendor/chartist/css/chartist-custom.css"/>
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="../../assets/css/main.css"/>
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="../../assets/css/demo.css"/>
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet"/>
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/apple-icon.png"/>
	<link rel="icon" type="image/png" sizes="96x96" href="../../assets/img/favicon.png"/>
	<style>
#instoverlay,#rhoverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
</style>
</head>
<body>
    
	
	<div id="wrapper">
	 
      
		
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="index.html"><img src="../../assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"/></a>
			</div>
			  
			  <div id="instoverlay" >
			   <div class="row " style="padding-top:2%">
                 <div class="col-md-6 col-md-offset-3">
							<!-- TASKS -->
							<div class="panel">
								
							</div>
							<!-- END TASKS -->
			 </div>
			</div>
	         </div>
	           <div id="rhoverlay" >
			   <div class="row " style="padding-top:10%;">
                 <div class="col-md-6 col-md-offset-3" >
							<!-- TASKS -->
							<div class="panel">
								
							</div>
							<!-- END TASKS -->
						</div>
						</div>
	         </div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				
				<div class="navbar-btn navbar-btn-right">
					<a class="btn btn-success update-pro"  title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>Sign In</span></a>
				</div>
				<div  style="margin-right:15%;">
					<ul class="nav navbar-nav navbar-right main_menu" id="menu_navigation">
                                    <li ><a href="">Home</a></li>
                                    <li class="actif"><a href="" >Annuaire</a></li>
                                    <li><a href="">Dictionnaire RG</a></li>
                                    <li><a href="">Demande d'accès</a></li>
                                    <li><a href="">Contact</a></li>
                                   
                                </ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
					    
						<li><a class="active" > <i class="lnr lnr-home"></i> <span>Institutions</span></a></li>
						</ul>
						<ul class="nav"  th:each="cat_inst : ${cat_inst}">
						<li><a th:href="@{/detail/{id}/inst(id=${cat_inst.id_cat_inst})}" th:id="'inst'+${cat_inst.id_cat_inst}"> <span th:text="${cat_inst.designation}">institution1</span></a></li>
						</ul>
						<ul class="nav">
						<li><a  class="active"  ><i class="lnr lnr-users"> </i> <span>Ressources humaines</span></a></li>
						</ul>
						<ul class="nav"  th:each="cat_rh : ${cat_rh}">
						<li><a th:href="@{/detail/{id}/rh(id=${cat_rh.id_cat_rh})}" th:id="'rh'+${cat_rh.id_cat_rh}" > <span th:text="${cat_rh.designation}">RH1</span></a></li>
						</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		
		<div class="main" >
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
					 <form class="navbar-form navbar-left" style="width:100%;">
					    <div class="input-group" style="width:80%;">
						<input id="inputFilter" type="text" value="" class="form-control" placeholder="recherche ..." />
						<span class="input-group-btn" style="width:1%;" ><button type="button" class="btn btn-primary" style="background-color:#41B314;border-color:#41B314;"><i  class="lnr lnr-magnifier"></i></button></span>
					   </div>
				      </form>
						<div class="panel-heading">
							<h3 class="panel-title" th:text="${cat.designation}" >RH/Inst</h3>
							<p style="width:80%;" class="panel-subtitle" th:text="${cat.description}">Description </p>
						
					</div>
					
					<!-- END OVERVIEW -->
					<div class="row" style="padding-left:100px;padding-top:30px;">
						<div class="col-md-8">
							<!-- RECENT PURCHASES -->
							<div >
								
								<div >
									<table  class="table table-hover">
										<thead>
											<tr>
												<th>#</th>
												<th>Titre</th>
												
											</tr>
										</thead>
										<tbody id="table_detail" th:each="detail : ${detail}" >
										
											<tr >
												<td ><a href="#" th:id="${detail.id_detail}" class="detail" ><img src="../../assets/img/info.png"/></a></td>
												<td th:text="${detail.nom}">nom</td>
												
											</tr>
										
										</tbody>
									</table>
								</div>
							
							</div>
							<!-- END RECENT PURCHASES -->
						</div>
			
						
					</div>
				
					</div>
					
					
				</div>
				
			</div>
			<!-- END MAIN CONTENT -->

		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">@Copyright <i class="fa fa-love"></i><a href=""></a></p>

			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="../../assets/vendor/jquery/jquery.min.js"></script>
	<script src="../../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="../../assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../../assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="../../assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="../../assets/scripts/klorofil-common.js"></script>
	
	
     <script th:inline="javascript" >
     function off() {
   	  document.getElementById("instoverlay").style.display = "none";
   	  document.getElementById("rhoverlay").style.display = "none";
   	}
     $(function(){
    	off();
    	 /*<![CDATA[*/
    	var selector="#"+[[${type}]]+([[${ID}]]+1);
    	$(selector).css("color","#ffffff");
    	 /*]]>*/

       
        	  // do Filter on View
        	 $("#inputFilter").on("keyup", function() {
        	      var inputValue = $(this).val().toLowerCase();
        	      $("#table_detail tr").filter(function() {
        	        $(this).toggle($(this).text().toLowerCase().indexOf(inputValue) > -1)
        	      });
        	  });
        	  
        	$(".detail").click(function() {
        		if([[${type}]]=="inst"){
        		  $.ajax({
                 	    type : "GET",
                 	    url : "http://localhost:8080/inst/"+this.id,
                 	    crossDomain:true,
                	    crossOrigin:true,
                 	    success: function(detail_inst){
                 	   
                 	        var detailContent = '<div class="panel-heading">'+
           					'<b> Nom :</b>'+
           					'<span>'+ detail_inst.nom +'</span>'+
           					'<div class="right">'+
           						'<button type="button" class="btn-remove" onclick="off()"><i class="lnr lnr-cross"></i></button>'+
           					'</div>'+
           				'</div>'+
           				'<div class="panel-body">'+
           			       '<ul class="list-unstyled task-list">'+
           						'<li>'+
           							'<b> Description :</b>'+
           							'<span>'+detail_inst.description+'</span>'+
           							
           						'</li>'+
           						'<li>'+
           						 '<p>'+
           						  '<img src="../../assets/img/activite.png"/>'+
           						  '<b> Activité  :</b>'+
           						 '<span>'+detail_inst.activite+'</span>'+
           						 '</p>'+
           						 ' <p>'+
           						  '<img src="../../assets/img/adresse.png"/>'+
           						  '<b> Adresse  :</b>'+
           						 '<span>'+detail_inst.adresse+'</span>'+
           						 '</p>'+
           						'<p>'+
           						 '<img src="../../assets/img/site.png"/>'+
           						  '<b> Site Web  :</b>'+
           						 ' <a href="'+detail_inst.site_web+'">'+detail_inst.site_web+'</a>'+
           						 '</p>'+
           						 
           						'</li>'+
           						'<li>'+
           						' <b> Contact  :</b>'+
           						 '<p>'+
           						 '<img src="../../assets/img/tel.png"/>'+
           						 '<span> Tel :</span>'+
           						 '<span >'+detail_inst.tel+'</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+
           						 '<span> Fax:</span>'+
           						 '<span>'+detail_inst.fax+ '</span>'+
           						 '</p>'+
           						 '<p>'+
           						' <img src="../../assets/img/mail.png"/>'+
           						 '<span> Email:</span>'+
           						 '<span>'+detail_inst.email+'</span>'+
           						 '</p>'+
           						'</li>'+
           						'</ul>'+
           						'<p>'+
           						 '<iframe src="'+detail_inst.url+ '" width="600" height="200" frameborder="0" style="border:0" ></iframe>'+
           						'</p>'+
           				'</div>';
           			        $('#instoverlay div.panel').empty();
                 	        $('#instoverlay div.panel').append(detailContent);
                 	        
                 	        
                 	    },
                 	    error : function(e) {
                 	      alert("ERROR: ", e);
                 	      console.log("ERROR: ", e);
                 	    }
                 	  });
        		  document.getElementById("instoverlay").style.display = "block";
        		}
        		else{
        			  $.ajax({
        			   type : "GET",
                	    url : "http://localhost:8080/rh/"+this.id,
                	    crossDomain:true,
               	    crossOrigin:true,
                	    success: function(detail_rh){
                	   
                	        var detailContent ='<div class="panel-heading">'+
							
							'<div class="right">'+
		
								'<button type="button" class="btn-remove" onclick="off()"><i class="lnr lnr-cross"></i></button>'+
							'</div>'+
						'</div>'+
						'<div class="panel-body">'+
							'<ul class="list-unstyled task-list">'+
								'<li>'+
								'<p>'+
								'<b> Nom :</b>'+
						     	'<span >'+detail_rh.nom+'</span>'+
							    '</p>'+
								'<p>'+
									'<b> Prenom :</b>'+
									'<span>'+detail_rh.prenom+'</span>'+
								'</p>'+
								'<p>'+
									'<b> Metier:</b>'+
									'<span>'+detail_rh.metier+'</span>'+
								'</p>'+
								'<p>'+
									'<b> Contribution:</b>'+
									'<span>'+detail_rh.contribution+'</span>'+
								'</p>'+
								'</li>'+
								'<li>'+
								 '<b> Contact  :</b>'+
								' <p>'+
								' <img src="../../assets/img/site.png"/>'+
								' <span> Site_web :</span>'+
								' <span>'+detail_rh.site_web+ '</span>'+
								 '</p>'+
								 '<p>'+
								 '<img src="../../assets/img/tel.png"/>'+
								' <span> Tel :</span>'+
								 '<span>'+detail_rh.tel+'</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+
								 '<span> Fax:</span>'+
								  '<span>'+ detail_rh.fax+' </span>'+
								'</p>'+
								 '<p>'+
								 '<img src="../../assets/img/mail.png"/>'+
								 '<span> Email:</span>'+
								 '<span>'+detail_rh.email+' </span>'+
								 '</p>'+
								 '</li>'+
								'</ul>'+
						'</div>' ;
						
          			        $('#rhoverlay div.panel').empty();
                	        $('#rhoverlay div.panel').append(detailContent);
                	        
                	        
                	    },
                	    error : function(e) {
                	      alert("ERROR: ", e);
                	      console.log("ERROR: ", e);
                	    }
                 	  });
        		  document.getElementById("rhoverlay").style.display = "block";
        		}
        		}); 
        	
     });
      
    	</script>
</body>

</html>
